@import "normalize.css";

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix {
  clear: both;
  float: none;
}

.post-body {
  color:rgba(34,34,34,1);
  line-height:26px;
  p {
    margin-bottom: 13px;
    margin-top: 13px;
  }
}